<!DOCTYPE html>
<html>
<head>
<title>Practical Machine Learning with Python</title>
</head>
<body>
{{ md("""
# Practical Machine Learning with Python
1. *An introduction to regression.*

```
import test
```

""")|safe }}
</body>
</html>
